{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" class="form-select mx-auto w-auto">
                <option value="symbol" disabled selected>Symbol</option>
                {% for purchase in purchases %}
                <option value="{{ purchase.symbol }}">{{ purchase.symbol }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number">
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}